body {
    font-family: 'Roboto';
    background: #FFFFFF;
    margin: 0;
}

.header {
    text-align: center;
    font-size: 50px;
    background: #E8B1C1;
    padding: 30px;
}

.header h1 {
    margin: 0;
}

nav {
    background: #7D6783;
    margin: 30px;
    border-radius: 50vh;
    padding-left: 30px;
    padding-right: 30px;
}

nav a {
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: #B8A7C8;
    color: black;
}

nav .right {
    float: right;
}

.main {
    margin-left: 100px;
    margin-right: 100px;
}